<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ tempProduct.id }}">
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive"
            /></a>

            <a routerLink="/products/{{ tempProduct.id }}">
              <h1>{{ tempProduct.name }}</h1></a
            >

            <div class="price">
              {{ tempProduct.unitPrice | currency: "USD" }}
            </div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>

        <!--if products empty then display message-->
        <div
          *ngIf="products?.length == 0"
          class="alert alern-warning col-md-12"
          role="alert"
        >
          No products found
        </div>
      </div>
    </div>
  </div>
</div>
